@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  /* * {
    @apply border-border outline-ring/50;
  } */
  body {
    @apply bg-background text-foreground;
  }
  .light-divider {
    height: 1px;
    background-color: #e0e0e0; /* Light gray color */
    margin: 16px 0; /* Adjust spacing as needed */
    border: none;
    color: lightgray;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Dm Sans, Helvetica, sans-serif; */
}
